<div class="container inspiration-view" id="tile-view">
    {% include 'inspiration/page-parts/view-changers.html.twig'%}
    {% if null == inspirations %}
        No inspiration found
    {% else %}
        {% for inspiration in inspirations %}
            {% set pictureLink = base_path ~'/img/no-pic.jpg' %}
            {% if null != inspiration.picture %}
                {% set pictureLink = inspiration.picture %}
            {% endif %}
            <div class="inspiration"
                 style="background-image: url('{{ pictureLink }}')"
                 data-caption_target="#caption_{{ inspiration.id }}"
                 data-link_target="#link_{{ inspiration.id }}"
            >
                <div class="inspiration-caption" id="caption_{{ inspiration.id }}">
                    <h2>{{ inspiration.caption | capitalize }}</h2>
                </div>
                <div class="link-container" id="link_{{ inspiration.id }}">
                    <a class="inspiration-link" href="{{ inspiration.link }}" target="_blank">Visit website</a>
                    <div class="add-inspiration-to-dishes text-right">
                        {% if inspiration.caption not in dishNames %}
                            <button class="btn btn-sm btn-outline-light action-button"
                                    data-action="add-inspiration-as-dish"
                                    data-name="{{ inspiration.caption }}"
                            >
                                Add to dishes
                            </button>
                        {% endif %}
                        <button class="btn btn-sm btn-outline-light action-button"
                                data-id="{{ inspiration.id }}"
                                data-action="remove-inspiration"
                        >Remove
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>