<div class="container">
    <h3>Available ingredients</h3>
    {% include 'ingredients/page-parts/category-filter.html.twig' %}
    <table class="table table-dark table-bordered">
        {% for item in notSelected %}
            <tr class="{{ item.ingredientCategoryId }} table-row">
                <td>
                    <button class="btn btn-sm btn-outline-success add-ingredient-to-dish-button"
                            data-dish_id="{{ dishId }}"
                            data-ingredient_id="{{ item.ingredientId }}"
                            data-ingredient_name="{{ item.ingredientName | capitalize }}"
                    >
                        <= Add to dish
                    </button>
                </td>
                <td>{{ item.ingredientName | capitalize }}</td>
            </tr>
        {% endfor %}
    </table>
</div>